h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat";
  font-weight:400;
}

h2{

  font-size: 3rem;
  line-height: 1.5;
}
h3{
color:#CEB3CB;
  font-size: 1.4rem;
}

p{
  color: #8F8F8F;
  font-size:1.1rem;
}

/*Navigation Bar*/

.navbar{
  padding: 1.5rem 4.5rem 0rem;
}

.nav-item{
  padding: 0 18px;
  }

.nav-link{
  font-size:1.4rem;
  font-family:"Montserrat";
  font-weight:400;
}

#particles-js{
  background-image: url("images/hero.gif");
  background-size:45%;
  background-repeat: no-repeat;
  background-position: center top;
  width:auto;
  margin:0; padding:0;
  image-rendering: crisp-edges;
}

.logo{
  width:70px;
}

/*About Section*/
#about {
  padding: 7% 15%;
  background-color:#fff;
  position: relative;
}

.about-title{
  text-align: center;
  color: #CEB3CB;
  font-weight: 400;
  padding-bottom: 3%;
}

.Me{
width:100%;
image-rendering: crisp-edges;
}

.about-me{
  text-align: center;
}

.about-me2{
  text-align: center;
  padding:4%;
}
/*Testimonials*/

#testimonials{
  padding:3% 15%;
  text-align: center;
  background-color: #CEB3CB;
  color:#fff;
}

.testimonial-image {
width:10%;
border-radius: 100%;
margin: 20px;
}
.testimonial-text{
  padding: 0 15%;
  color:#fff;
}

/*projects*/
.container-1{
  padding:7% 0;
  text-align: center;
}
#projects{
  padding:100px;
  text-align: center;
}

.project-column{
  padding:3% 0;
}

.body-text{
  padding: 2% 5%;
  color: #fff;
}

.hovereffect {
width:auto;
height:300px;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:inherit;
height:inherit;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
image-rendering: crisp-edges;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:1rem;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:10px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px  #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

/*Footer Section*/
#footer{
  padding:7% 15%;
  text-align: center;
  background-color: #CEB3CB;
}

.social-icon{
  margin:20px 10px;
  width: 30px;
  color: #fff;
}
.footer-word{
  color:#fff;
    font-size: 2rem;
}
.footer-text{
  color:#fff;
    font-size: 1rem;
}

/*--Scroll---*/

.scroll-to-top{
  right:4rem;
  bottom:2rem;
  padding:1rem;
  border-radius:100px;
  font-size:1rem;
}
.position-fixed{
  position: fixed!important;
}

@media (min-width:425px){
  .navbar{
    padding: 1.5rem 0.5rem 0rem;
  }

  #projects{
    padding:100px 50px;
    text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  }
