


.highlight {
    background-color: #F6F9FC;
    padding: 1rem;
    border-radius: 0.5rem;
}

.proj-head {
    margin: 11rem 0rem;
}

/* Overview */
.garbage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.overviews {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
h2 {
color: #2D8CFF;
}
h5 {
color: #2D8CFF;
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}
.logo {
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
/*content*/
.process{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  margin-bottom: 10%;
}

.monitor{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.monitor4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.feedback{
padding-top: 5%;
padding-bottom: 5%;
}

.iteration{
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
padding-top: 5%;
padding-bottom:5%;
}
