@charset "UTF-8";
html {
    scroll-behavior: smooth;
}


/*
DarkInk: 1d1d1d
Ink: 3E4043
LialicBG: F6F9FC
LightGray: dadadd
*/


/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
TEXT
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */



a {
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #CEB3CB;
    text-decoration: none;
    transition: all 0.4s;
}

.caption {
    font-size: 0.7rem;
    opacity: 0.6;
    text-align: center;
    padding-bottom: 1rem;
}

.tag {
    font-size: 1 rem;
    padding-top: 1rem;
    color: #999999;
}
<!----.ta opacity: 0.2;--->

/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
NAVBAR
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

#mainNav {
    padding: 1rem 0rem;
    transition: all 0.4s ease-in-out;
    opacity: 0.2;
    background-color: #FFF;
    border: 1px solid #F6F9FC;
}

#mainNav:hover {
    opacity: 1;
    transition: all 0.2s;
}

#mainNav a {
    padding: 0.25rem 3rem;
    font-weight: 400;
}

#mainNav a:hover {
    transform: translateY(-0.25rem);
    transition: all 0.4s;
}



/*
.featureCard {
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #F5F5F5;
    padding: 2rem;
    margin-bottom: 1rem;
} */

.cardHover:hover {
    transform: scale(1.05);
    transition: all 0.4s;
    box-shadow: 1rem 2rem 3rem #dadadd;
    z-index: 2;
    position: relative;
}


/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
FOOTER
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

.footer {
    text-align: center;
    margin-top: 4rem;
}

.footer a {
    padding: 1rem;
    border-radius: 100px;
    font-size: 1.5rem;
    margin: 1.5rem;
}

#moreProj {
    background-color: #F3EAF2;
    padding: 4rem 0rem;
    margin-top: 6rem;
}


/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
SCROLL TO TOP
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

.scroll-to-top {
    right: 4rem;
    bottom: 2rem;
    padding: 1rem;
    border-radius: 100px;
    font-size: 1rem;
}


/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
ANIMATIONS
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

.enlarge:hover {
    transform: scale(1.2);
    transition: all 0.4s;
    position: relative;
    box-shadow: 1rem 1rem 2rem #dadadd;
    background-color: #FFF;
}


/*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *
SPACING
*  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  */

.space {
    padding-top: 4rem;
}

ul {
    padding-left: 1.5rem;
}

hr {
    margin: 2rem 10rem;
    color: #F6F9FC;
}


/*  */

@media only screen and (min-width: 768px) {
    .content {
        display: block;
        width: 50%
    }
    /*
.head {
  margin: 16rem;
} */


}
img {
    max-width: 100%;
    height: auto;
