



.highlight {
    background-color: #F6F9FC;
    padding: 1rem;
    border-radius: 0.5rem;
}

.proj-head {
    margin: 11rem 0rem;
}

h2{
  color: #FE204B;
}
.mobile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:300px;
